@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    @apply text-6xl font-semibold tracking-tight;
}
.subtitle{
    @apply text-4xl font-medium tracking-tight;
}

.button{
    @apply font-medium px-4 py-2 rounded-md;
}

.primary{
    @apply font-medium px-4 py-2 rounded-md shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
}

.secondary{
    @apply font-medium px-4 py-2 rounded-md border border-gray-300 text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

.danger{
    @apply font-medium px-4 py-2 rounded-md border border-red-400 bg-red-200 text-red-800 hover:bg-red-300;
}
.CodeMirror {
    min-height: 350px;
    font-size: 1rem;
}
.editor-toolbar {
    border-radius: 0.75rem 0.75rem 0 0;
}
.EasyMDEContainer {
    border-radius: 0.75rem;
}
.form-field input{

    @apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500;
}
.error{
    @apply p-2 my-2 text-sm text-red-700 bg-red-50 rounded-md border-red-300 border;
}